
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Stint+Ultra+Expanded&display=swap');
:root {
    --font-body: 'Pontano Sans', sans-serif;
    --font-headline: 'Stint Ultra Expanded', monospace;
    /* colors */
    --primary-color: #053C5E;
    --secondary-color: #85BDBF;
    --tertiary-color: #A9714B;
    --light-brown: #EDDED4;
    --dark-brown: #303030;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
  }
  * {
    box-sizing: border-box;
  }
  body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--primary-color);
    background-color: var(--light-brown);
  }
  img {
    max-width: 100%;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .logos{
  display: flex;
  align-content: center;
}
.logo{
  width: 100px;
  
}
.siteName{
  width: 400px;
}
.logos a {
  text-decoration: none;
  color: var(--font-body);
}
 
  
  .nav {
    line-height: 100px;
    width: 260px;
    overflow: hidden;
    display: flex;
    font-size: .85em;
    text-align: right;
    font-family: var(--font-headline);
    justify-content: space-between;
    padding: 0 10px;
  }
  .nav a {
    text-decoration: none;
  }
  
  
  /* utility classes */
  .highlight {
    color: var(--tertiary-color);
  }
  .word-input:focus{
    outline: none;
    border: 2px solid var(--secondary-color);
  }
  
  .define{
    background-color: var(--dark-brown);
    color: var(--light-brown);
    margin: auto;
    border-radius: 25px;
    transition: background-color .5s ease-in;
  }
  .define:hover {
    background-color: var(--secondary-color);
  }
 
  .top-divider {
    border-top: 2px solid var(--secondary-color);
  }
  .divider {
    border-bottom: 2px solid var(--secondary-color);
  }
  /* End utility classes */
  .word{
    line-height: 1.5em;
  }

  
  .definitionCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style:none;
            padding-left:0;
  }
  .card{
    list-style-type: none;
    list-style:none;
    border-radius: 25px;
    padding: 1.5em;
    border: 2px solid var(--dark-brown);
    width: 250px;
    height: 250px;
    overflow: hidden;
    

  }
  .card:hover{
    position: relative;
  min-height: 250px;
  height: fit-content;
  background-color: var(--dark-brown);
    color: var(--light-brown);
  
  }


  
  @media screen and (max-width: 700px) {
    body {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
   
  
    .siteName {
      margin-top:-3em;
    }
    header {
      display: grid;
      grid-template-rows: auto auto;
      justify-content: center;
      padding: 10px 10px;
    }
    .logos{
      display: grid;
      align-content: center;
    }
    .logo{
      width: auto;
      
    }
    .siteName{
      width: auto;
    }
    .nav {

      margin-top:-3em;
      margin-bottom: -3em;
      width: 100%;
      text-align: center;
      font-family: var(--font-headline);
      justify-self: center;
      padding: 10px;
    }
    .nav a {
      padding: 10px;
    }
    main{
      margin-left: auto;
      margin-right: auto;
    }
    .definitionCards{
      list-style-type: none;
      list-style:none;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .card{
      margin-left: -10%;
      justify-self: center;
      padding: 1em;
      border: 2px solid var(--dark-brown);
      max-width: 175px;
    }
    .card:active{
      position: relative;
    min-height: 250px;
    height: fit-content;
    background-color: var(--dark-brown);
      color: var(--light-brown);
    
    }
    .card:hover{
      position: relative;
    min-height: 250px;
    height: fit-content;
    background-color: var(--dark-brown);
      color: var(--light-brown);
    
    }
  }
  
  footer {
    font-size: var(--small-font);
    color: var(--primary-color);
    padding: 1em;
    text-align: center;
  }
  